@import "tailwindcss";

@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("/assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url("/assets/fonts/PlayfairDisplay-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

@theme {
  --font-raleway: "Raleway", "sans-serif";
  --font-playfair: "Playfair Display", "serif";
  --color-primary: #0d1325;
  --color-secondary: #0a0f1f;
}

.card {
  @apply bg-secondary px-20 py-10  w-full rounded-xl text-xs sm:text-base shadow-lg shadow-blue-900/40 hover:shadow-blue-600/50 opacity-0 transition-all duration-200 hover:scale-103;

  backface-visibility: hidden;
  transform: translateZ(0); /* force le GPU mais garde la netteté */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card.card.in-view {
  opacity: 1;
}

h2 {
  @apply text-sm md:text-2xl font-semibold mb-15 underline italic text-center text-blue-400;
}

h3 {
  @apply text-xs sm:text-lg italic font-semibold  text-blue-300;
}
