.animatedName {
  opacity: 0;
  transform: translateY(-40px);
  animation: 0.6s ease-out forwards fadeInName; /* forwards pour garder la fin */
}

@keyframes fadeInName {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animatedLine {
  transform: scaleX(0);
  animation: 0.6s ease-in-out 0.3s forwards animateLine;
}

@keyframes animateLine {
  to {
    transform: scaleX(1);
  }
}

.animatedRole {
  opacity: 0;
  animation: 0.6s ease-out 0.5s forwards fadeInRole;
}

@keyframes fadeInRole {
  to {
    opacity: 1;
  }
}

/* Classe pour ton slogan */
.animatedSlogan {
  opacity: 0;
  transform: translateX(-100px);
  animation: slideIn 1s cubic-bezier(0.22, 1, 0.8, 1) 0.8s forwards;
}

/* Animation keyframes */
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0px); /* léger dépassement pour simuler rebond */
  }
}
